body{
    margin: 0;
}
 #glowny{
    font-family: Helvetica;
    background-color: linen;
    color: #222;
    /* width: 90%; */
}

#kontener{
    height: 100%;
    width: 100%;
    font-family: helvetica;
    background-color: linen;
    color: #222;
    margin: auto;
    width: 90%;
}

.baner{
    background-color: black;
    color: white;
    width: 50%;
    height: 100px;    
}
#glowny{
    padding: 20px;

}
#stopka{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
a{
    color: #aaa;
    text-decoration: none;
}
a:hover{
    color: white;
}
table{
    margin: 40px;
    
}
td{
    padding: 30px;
    text-align: center;
    font-weight: bold;
}
li{
    display: inline-block;
    padding: 5px;
    margin: 10px;
    border-bottom: 1px solid white;
}
#d1{
    display: flex;
}
img{
    width: 500px;
}
#img{
    width: 100%;
}
tr{
    height: 50px;
}